<div class="containerSesion">
    <div>
        <img src="../../../../assets/image/background-semillas.png" alt="Imagen de Semillas" class="imgSeed">
    </div>

    <form action="" class="formRegister">
        <div class="containerInput">
            <div class="inputRegister">
                <img src="../../../../assets/icons/emailForm.svg" alt="Email">
                <input type="email" placeholder="E-mail" class="input">
            </div>
            <div class="inputRegister password">
                <img src="../../../../assets/icons/password.svg" alt="Password">
                <input type="password" placeholder="Contraseña" class="input">
            </div>
            <div class="inputRegister password">
                <img src="../../../../assets/icons/password.svg" alt="Password">
                <input type="password" placeholder=" Confirmar Contraseña" class="input">
            </div>
            <div class="inputRegister password">
                <img src="../../../../assets/icons/nameProduct.svg" alt="Nombre">
                <input type="text" placeholder="Nombre y Apellido" class="input">
            </div>
            <div class="inputRegister password">
                <img src="../../../../assets/icons/phoneForm.svg" alt="Teléfono" class="iconPhone">
                <input type="tel" placeholder="Teléfono" class="input inputPhone">
            </div>
        </div>
        <app-buttons [name]="name"></app-buttons>
    </form>
</div>

