<div class="containerSesion"> 
    <div>
        <img src="../../../../assets/image/background-semillas.png" alt="Imagen de Semillas" class="imgSeed">
    </div>

    <form action="" class="formAddProduct">
        <h1 [textContent]="titleProduct" class="titleForm"></h1>
        <div class="containerInputAdd">
            <div class="inputAddProduct">
                <img src="../../../../assets/icons/nameProduct.svg" alt="Nombre del Producto">
                <input type="text" placeholder="Nombre del Producto" class="input">
            </div>
            <div class="inputAddProduct password">
                <img src="../../../../assets/icons/codeProduct.svg" alt="Código">
                <input type="text" placeholder="Código" class="input">
            </div>
            <div class="inputAddProduct password">
                <img src="../../../../assets/icons/priceProduct.svg" alt="Precio">
                <input type="text" placeholder=" Precio" class="input">
            </div>
            <div class="inputAddProduct password">
                <img src="../../../../assets/icons/description.svg" alt="Descripción">
                <textarea type="text" placeholder="Descripción" class="inputTextArea"></textarea>
            </div>
            <div class="inputAddProduct password">
                <input type="file" placeholder="Insertar Imagen" class="input inputImage">
            </div>
        </div>
        <app-buttons [name]="name"></app-buttons>
    </form>
</div>
