<div class="containerDescription">
    <div>
        <img src="../../../../assets/image/background-semillas.png" alt="Imagen de Semillas" class="imgSeed">
    </div>
    <div class="product">
        <img src="../../../../assets/image/mermeladas.jpeg" alt="Producto">
    </div>
    <h1 class="titleProduct">Nombre del Producto</h1>
    <div class="dataProduct">        
        <div>
            <p>$920.00</p>
            <p>Descripción</p>
            <p>Mermeladas</p>
        </div>
        <div class="iconProduct">
            <img routerLink="/editar-producto" src="../../../../assets/icons/edit.svg" alt="Editar" class="edit">
            <img src="../../../../assets/icons/delete.svg" alt="Eliminar" class="delete">
        </div>
    </div>
    <div>
        <input type="button" class="btnDescription" value="Añadir al Carrito">
    </div>
</div>
