<div class="containerDescription">
    <div>
        <img src="../../../../assets/image/background-semillas.png" alt="Imagen de Semillas" class="imgSeed">
    </div>
    <div>
    <div class="product">
        <img src="../../../../assets/image/mermeladas.jpeg" alt="Producto">
    </div>
    <div *ngFor="let product of products">
        <h1 class="titleProduct"> {{products[0].product_name}} </h1>
        <div class="dataProduct">        
            <div>
                <p>${{products[0].price}}</p>
                <p>{{products[0].description}}</p>
            </div>
            <div class="iconProduct">
                <img routerLink="/editar-producto/{{product.id}}" src="../../../../assets/icons/edit.svg" alt="Editar" class="edit">
                <img src="../../../../assets/icons/delete.svg" alt="Eliminar" class="delete" (click)="onDelete(product.id)">
            </div>
        </div>
        <div>
            <input type="button" class="btnDescription" value="Añadir al Carrito">
        </div>
    </div>
</div>
