<footer>
    <div class="footer">        
        <div class="contactFooter">
            <div>
                <h6 class="titleFooter">Contacto</h6>
                <div class="iconFooter">
                    <img src="../../../assets/icons/location.svg" alt="Ubicación">
                    <p class="subtitleFooter">Piedras 808 San Telmo</p>
                </div>
                <div class="iconFooter">
                    <img src="../../../assets/icons/emailFooter.svg" alt="Correo electrónico">
                    <p class="subtitleFooter">micampo@gmail.com</p>
                </div>
                <div class="iconFooter">
                    <img src="../../../assets/icons/phone.svg" alt="Teléfono">
                    <p class="subtitleFooter">+54 9 115220-9745</p>
                </div>
            </div>
        </div>
        <div class="aboutUs">
            <div>
                <h6 class="titleFooter">Mi Campo</h6>
                <a routerLink="/sobre-nosotros"><p class="subtitleFooter">¿Quienes Somos?</p></a>
                <a routerLink="/preguntas-frecuentes"><p class="subtitleFooter">Preguntas Frecuentes</p></a>
                <a routerLink="/terminos-y-condiciones"><p class="subtitleFooter">Términos y Condiciones</p></a>
            </div>
        </div>
        <div class="categories">
            <div>
                <h6 class="titleFooter">Categorías</h6>
                <p class="subtitleFooter">Granel</p>
                <p class="subtitleFooter">Adivmentos</p>
            </div>
        </div>
        <div class="iconsContact">
            <img src="../../../assets/icons/whatsapp.svg" alt="Whatsapp" class="iconContactFooter">
            <a href="https://instagram.com/micampo2023?igshid=YmMyMTA2M2Y=" class="iconContactFooter"><img src="../../../assets/icons/instagram.svg" alt="Instagram"></a>
            <img src="../../../assets/icons/facebook.svg" alt="Facebook" class="iconContactFooter">
        </div>
    </div>
    <p class="subtitleFooter copy">Mi Campo &copy; 2023</p>
</footer>

