nav{
    display: grid;
    grid-template-columns: repeat(5, 20%);
}
.iconMenu {
    display: flex;
    align-items: center;
}
  
.iconMenu a {
    display: flex;
    align-items: center;
    color: inherit;
}
  
.iconMenu a img {
    margin-right: 5px;
}

.iconMenu:first-child {
    margin-right: 20px; 
}

.login{
    justify-content: flex-end;
    margin-top: 3%;
    margin-right: 2%;
}

.dropdown{
    width: 13.5rem;
    position: fixed;
    background-color: #e9ede4fa;
    z-index: 1000;
}

.dropdowndChild{
    display: none;
}

.dropdowndChild.show{
    display: block;
}

.logo{
    width: 4rem;
    grid-column: 3/4;
}

.carShopping{
    grid-column: 4/5;
    margin-left: 2.5rem;
    margin-top: 0.7rem;
}

.buttonMenu{
    margin-top: 1rem;
}

.search{
   grid-column: 5/6;
   margin-left: 1rem;
   margin-top: 0.7rem;
}
