<div class="containerAboutUs">
    <div class="imgAbout">
        <img src="../../../../assets/image/galletas-mariaE.jpeg" alt="Productos">
    </div>

    <div>
        <h1 class="titleTerms">Términos y Condiciones</h1>
    </div>

    <div>
        <p class="textTerms">
           <span> 1- Devoluciones:</span> Si el producto recibido se encuentra en mal estado, 
           debe contactarnos en un plazo no mayor a 24 horas de recibido el pedido. Debe presentar 
           la factura para poder realizar la devolución. 
        </p>
        <p class="textTerms">
            <span> 2- Tiempos de envios:</span> Los envios se realizarán en un plazo de 24 horas después
            de haber recibido el pedido de lunes a viernes. 
         </p>
        <p class="textTerms">
        <span> 3- Responsabilidad:</span> El cliente es responsable de verificar la información proporcionada
        en su pedido. Si se presenta algún error en la información suministrada por el cliente no nos hacemos 
        responsables por posibles retrasos o devoluciones de la entrega.
        </p>
    </div>
</div>
