<div class="containerAboutUs">
    <div class="imgAbout">
        <img src="../../../../assets/image/sales.jpeg" alt="Productos">
    </div>

    <div>
        <h1 class="titleAbout">Sobre Nosotros</h1>
    </div>

    <div>
        <p class="textAboutUs">
            Somos "MI CAMPO". Apasionados por ayudar a llevar una vida saludable 
            a través de la alimentación. Nuestro objetivo es que encuentres todo lo 
            que necesitas para mejorar tu salud y bienestar en nuestra tienda, comprometidos
            a ser un recurso confiable para nuestros clientes en su camino hacia un estilo 
            de vida más saludable.
        </p>
        <p class="textAboutUs">
            Nos encanta ser parte de tu vida y ayudarte a cuidar de tu salud.
        </p>
    </div>
</div>
