<div class="containerSesion">
    <div>
        <img src="../../../../assets/image/background-semillas.png" alt="Imagen de Semillas" class="imgSeed">
    </div>

    <form action="" class="formSesion">
        <div class="containerInput">
            <div class="inputSesion">
                <img src="../../../../assets/icons/emailForm.svg" alt="Emaik">
                <input type="email" placeholder="E-mail" class="input">
            </div>
            <div class="inputSesion password">
                <img src="../../../../assets/icons/password.svg" alt="Password" class="iconPassword">
                <input type="password" placeholder="Contraseña" class="input inputPassword">
            </div>
        </div>
        <app-buttons [name]="name"></app-buttons>
        <p class="p">¿No tienes una cuenta? <a routerLink="/registro"><span class="pRegister">Registrate</span></a></p>
    </form>
</div>
