.formSesion{
    background-color: #E7ECE0;
    width: 20rem;
    height: 30rem;
    margin-left: 9%;
    margin-top: 30%;
    position: absolute;
    z-index: 1;
}

.imgSeed{
    height: 250px;
    width: 100%;
    border-radius: 0 0 18% 18%;
    position: absolute;
    z-index: 0;
}

.inputSesion{
    display: flex;
    align-items: center;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputSesion img{
    margin-right: 5px;
}

.inputSesion:first-child{
    margin-right: 20px;
}

.input{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #E7ECE0;
}

.password{
    margin-left: -6%;
}

.containerInput{
    margin-top: 15%;
}

.inputPassword{
    margin-bottom: 20%;
}

.iconPassword{
    margin-top: -15%;
}

.p{
    margin-top: 10%;
    text-align: center;
}

.pRegister{
    font-weight: bold;
    color: #482A06;
}