<div class="containerQuestion">
    <div class="imgAbout">
        <img src="../../../../assets/image/aceites-vegetales-varios.jpeg" alt="Productos">
    </div>

    <div>
        <h1 class="titleQuestion">Preguntas Frecuentes</h1>
    </div>

    <div class="questions">
        <h5 class="subtitleQuestions">¿Cómo compro en su web?</h5>
        <p class="textQuestions">
            Es de forma rápida y sencilla, debes registrarte para agregar productos al carrito de compras.
        </p>
        <h5 class="subtitleQuestions">¿Realizan envios?</h5>
        <p class="textQuestions">
            Si, hacemos envios en toda la ciudad de Buenos Aires.
        </p>
        <h5 class="subtitleQuestions">¿Si compro on-line puedo retirar en tienda física?</h5>
        <p class="textQuestions">
            Si, se puede comprar de forma on-line y retirar en la tienda.
        </p>
        <h5 class="subtitleQuestions">¿Método de pago?</h5>
        <p class="textQuestions">
            Actualmente, no hemos implementado un método de pago en línea, pero tenemos otras 
            opciones disponibles. Puedes realizar una transferencia bancaria a 
            nuestra cuenta bancaria o  puedes visitar nuestra tienda física 
            para realizar tu pago y recoger tus productos. 
        </p>
    </div>
</div>